<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.krusty84.singleWindowApp</string>
	<key>Concrete</key>
	<true/>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.krusty84</string>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_VERSION</key>
				<string>5.0</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_INCLUDE_ALL_APP_ICON_ASSETS</key>
				<true/>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PROJECTNAME___.entitlements</string>
			</dict>
			<key>Properties</key>
			<dict>
				<key>LSUIElement</key>
				<false/>
			</dict>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>Resources/Assets.xcassets</string>
		<string>Helpers/GeneralHelpers.swift</string>
		<string>Views/About.swift</string>
		<string>Views/TabOne/TabOneView.swift</string>
		<string>Views/TabOne/TabOneViewModel.swift</string>
		<string>Views/Settings/SettingsTabView.swift</string>
		<string>API/APIConfig.swift</string>
		<string>Views/Settings/SettingsTabViewModel.swift</string>
		<string>EntryAppPoint.swift</string>
		<string>SettingsManager.swift</string>
		<string>MainWindow.swift</string>
		<string>AppState.swift</string>
		<string>AppIconConfigurator.swift</string>
		<string>Info.plist</string>
		<string>PostActionsMustRead.txt</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Resources/Assets.xcassets</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
		<key>Helpers/GeneralHelpers.swift</key>
		<dict>
			<key>Path</key>
			<string>Helpers/GeneralHelpers.swift</string>
			<key>Group</key>
			<string>Helpers</string>
		</dict>
		<key>Views/About.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/About.swift</string>
			<key>Group</key>
			<string>Views</string>
		</dict>
		<key>Views/TabOne/TabOneView.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/TabOne/TabOneView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>TabOne</string>
			</array>
		</dict>
		<key>Views/TabOne/TabOneViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/TabOne/TabOneViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>TabOne</string>
			</array>
		</dict>
		<key>Views/Settings/SettingsTabView.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/Settings/SettingsTabView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Settings</string>
			</array>
		</dict>
		<key>Views/Settings/SettingsTabViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/Settings/SettingsTabViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Settings</string>
			</array>
		</dict>
		<key>API/APIConfig.swift</key>
		<dict>
			<key>Path</key>
			<string>API/APIConfig.swift</string>
			<key>Group</key>
			<string>API</string>
		</dict>
		<key>MainWindow.swift</key>
		<dict>
			<key>Path</key>
			<string>MainWindow.swift</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>EntryAppPoint.swift</key>
		<dict>
			<key>Path</key>
			<string>EntryAppPoint.swift</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>SettingsManager.swift</key>
		<dict>
			<key>Path</key>
			<string>SettingsManager.swift</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>AppState.swift</key>
		<dict>
			<key>Path</key>
			<string>AppState.swift</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>AppIconConfigurator.swift</key>
		<dict>
			<key>Path</key>
			<string>AppIconConfigurator.swift</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>___PROJECTNAME___.entitlements</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAME___.entitlements</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
		<key>PostActionsMustRead.txt</key>
		<dict>
			<key>Path</key>
			<string>PostActionsMustRead.txt</string>
			<key>Group</key>
			<string>___PROJECTNAME___</string>
		</dict>
	</dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.macOSApplicationUI</string>
	</array>
</dict>
</plist>
